@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: "Maven Pro", sans-serif;
    color: #333;
}

.card {
    flex-direction: row !important;
}
.card-body {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-body p {
    display: none;
}

.shown {
    display: flex !important;
    animation: cssAnimation 0s ease-in 5s forwards;
}

.hidden {
    display: none !important;
    animation: cssAnimation 0s ease-in 5s forwards;
}

.result-list ul {
    list-style-type: none;
    padding: 5px 0;
}

.result-list img {
    padding: 5px;
}

.result-list li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}