<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Handreichung</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Leitfaden
            <br>Poster
        </h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Online-Kurs</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Präsentation</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Sonstiges</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Workshop
            <br>Gestaltung
        </h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Checkliste</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Audio</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Video</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Infografik</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        <h5 class="card-title">Spiel</h5>
        <p>Hier könnten dann weitere Infos dazu stehen.</p>
    </div>
</div>
