<div class="md-4 mb-4">
    <form>
        <label class="fieldLabel" for="c4558-field-default">
            Suche:
        </label>
        <input class="inputType-text">
    </form>
    Typ
    <ul>
        <li>News</li>
        <li>Texte</li>
        <li>
            <b>Materialien</b>
        </li>
        <li>Events</li>
    </ul>
    Materialienart
    <ul>
        <li>Handeichung</li>
        <li>Leitfaden/Poster</li>
        <li>Online-Kurs</li>
        <li>Präsentation</li>
        <li>Sonstiges</li>
        <li>Workshop-Gestaltung</li>
        <li>Checkliste</li>
        <li>Audio</li>
        <li>Video</li>
        <li>Infografik</li>
        <li>Spiel</li>
    </ul>
    Veranstaltungsart
    <ul>
        <li>Staff Week</li>
        <li>Barcamp</li>
        <li>Workshop</li>
        <li>Konferenz</li>
        <li>Train-the-Trainer</li>
        <li>Seminar</li>
        <li>Sonstiges</li>
    </ul>
    Veranstaltungsort
    <ul>
        <li>Online</li>
        <li>Hybrid</li>
        <li>Bern</li>
        <li>Braunschweig</li>
        <li>Hannover</li>
        <li>Berlin</li>
        <li>Konstanz</li>
        <li>Göttingen</li>
        <li>Bielefeld</li>
    </ul>
    Thema
    <ul>
        <li>Bücher</li>
        <li>Fachinformation</li>
        <li>Finanzierung</li>
        <li>Förderung</li>
        <li>Open-Access-Basis</li>
        <li>Open-Access-Modelle</li>
        <li>Policy</li>
        <li>Rechtliches</li>
        <li>Repositorien</li>
        <li>Sonstiges</li>
        <li>Transformation</li>
        <li>Zeitschriften</li>
    </ul>
    Sprache
    <ul>
        <li>Mehrsprachig</li>
        <li>Deutsch</li>
        <li>Englisch</li>
        <li>weitere</li>
    </ul>
    Zielgruppe
    <ul>
        <li>Studierende</li>
        <li>Autor*innen</li>
        <li>Bibliothek</li>
        <li>Herausgeber*innen</li>
        <li>Forschungsförderinstitution</li>
        <li>Forschungseinrichtung</li>
        <li>Hochschule</li>
        <li>Verschieden</li>
        <li>Verlag</li>
    </ul>
    Fachdisziplin
    <ul>
        <li>Medienwissenschaft</li>
        <li>Chemie</li>
        <li>Geschlechterforschung</li>
        <li>Geowissenschaften</li>
        <li>Wirtschaftswissenschaften</li>
        <li>Linguistik</li>
        <li>Germanistik</li>
        <li>Musikwissenschaften</li>
        <li>Ingenieurwissenschaften</li>
        <li>Biologie</li>
        <li>Anglistik</li>
        <li>Romanistik</li>
        <li>Informatik</li>
        <li>Erziehungswissenschaften</li>
        <li>Informationswissenschaft</li>
        <li>Medizin/Lebenswissenschaften</li>
        <li>Mathematik</li>
        <li>Politikwissenschaft</li>
        <li>Rechtswissenschaft</li>
    </div>
</div>
