<div class="card mt-2 mb-3">
    <div class="card-title">
        <img src="./build/img-1.png">
    </div>
    <div class="card-body">
        Die redaktionelle Arbeit an der Zeitschrift unterscheidet sich kaum von entsprechender Arbeit bei traditionellen Zeitschriften. Auch bei Gründung einer Open-Access-Zeitschrift sind die Herausforderungen vergleichbar.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Es müssen Konzept und Geschäftsplan entwickelt werden, die Deckung der Kosten muss geklärt werden, die Anbindung der Zeitschrift muss entschieden werden - ob z.B. im Rahmen eines Verlages veröffentlicht werden soll oder ob eine verlagsunabhängige Herausgabe angestrebt wird -, und es muss der Betrieb der Zeitschrift sichergestellt sein.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-title">
        <img src="./build/img-2.png">
    </div>
    <div class="card-body">
        Es ist deshalb wichtig, sich möglichst (selbst-)kritisch darüber Rechenschaft abzulegen, ob ein solches Projekt prinzipiell sinnvoll und gerechtfertigt ist.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Die Informationsplattform bietet die Möglichkeit eines zielgruppenorientierten Einstiegs in das Thema Open Access. Hier haben wir für verschiedene Zielgruppen relevante Informationen zusammengestellt. Längere und ausführlichere Texte zu vielen hier angesprochenen Themen finden Sie über den Einstieg Allgemeines.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Open-Access-Zeitschriften sind wissenschaftliche Zeitschriften, in denen alle dort veröffentlichten Artikel frei zugänglich sind - unmittelbar und für alle Interessierten.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Für Herausgeberinnen und Herausgeber von Fachzeitschriften und für deren Autorinnen und Autoren ist mit diesem sogenannten goldenen Weg des Open Access eine weitaus größere Sichtbarkeit der Veröffentlichungen verbunden als bei Closed-Access-Zeitschriften.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Dies gilt unabhängig davon, ob diese zugangsbeschränkten Zeitschriften in Print- oder elektronischer Form vorliegen.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Mit der elektronischen Veröffentlichungsform, die mit Open Access in der Regel einhergeht, erwachsen zusätzliche Möglichkeiten der Präsentation und Distribution wissenschaftlicher Informationen.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-title">
        <img src="./build/img-3.png">
    </div>
    <div class="card-body">
        Bei der Gründung einer Open-Access-Zeitschrift sind viele Dinge zu bedenken. Eine eigene Zeitschrift zu betreiben bedeutet einigen Aufwand für die, die in redaktionelle Arbeit involviert sind.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Eine Übersicht bereits existierender Open-Access-Zeitschriften finden Sie im Directory of Open Access Journals (DOAJ).
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-title">
        <img src="./build/img-4.png">
    </div>
    <div class="card-body">
        Unter Umständen kann die Mitarbeit an bzw. die Kooperation mit einer bereits existierenden Zeitschrift eine bessere Alternative sein.
    </div>
</div>
<div class="card mt-2 mb-3">
    <div class="card-body">
        Was wird das Alleinstellungsmerkmal der Zeitschrift sein? Welches Themenfeld wird bearbeitet, wer sind potenzielle Autorinnen und Autoren, welche Leserinnen und Leser sind die Zielgruppe?
    </div>
</div>
